# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
logs/

node_modules/
dist/
build/
package-lock.json
*.local
.firebase/

# Editor directories and files
.DS_Store
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.ntvs*
*.njsproj
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
*.cache
.nyc_output/
public/*.cache
.dump
redis_dump.rdb
server/uploads*/
server/temp/
server/google-service-account-credentials.json